footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.legales, .derechos{
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
}